<!DOCTYPE html>
<html ng-app="">
<head>
	<title>App | Angular JS</title>
	<meta charset="utf-8">

	<style type="text/css">
		
		.hover {
			background-color: rgb( 200, 50, 50 );
		}

		.no-hover {
			background-color: rgb( 50, 200, 50 );
		}

	</style>

	<script type="text/javascript" src="../vendor/angular-1.7.8/angular.min.js"></script>
	<!-- <script type="text/javascript" src="../vendor/angular-local-storage_dist/angular-local-storage.min.js"></script> -->

	<!-- <script type="text/javascript" src="controller.js"></script> -->
</head>
<body>

	<h2>Events</h2>

	<div class="contenido_events">

		<button ng-mouseover="bandera = true" 
				ng-mouseout=" bandera = false" 
				ng-click="bandera = !bandera"
				ng-class="{ 'hover': bandera, 'no-hover': !bandera }">Pasa sobre mí</button> 

				<span ng-show="bandera">&lt;- Púlsame</span>

		<p>
			{{ bandera | json }}
		</p>

		<!-- 
		<form ng-submit="anadirLista()">
			<div>
				<label>Descripcion</label>
				<input type="text" ng-model="nuevaLista.descripcion">
			</div>

			<div>
				<label>Fecha</label>
				<input type="datetime-local" ng-model="nuevaLista.fecha">

			</div>


			<div>
				<input type="submit" value="Añadir Lista">
			</div>
		</form>


		<h2>Listas</h2>

		<div>
			<button ng-click="limpiar()">Limpiar listas</button>
		</div>

		<ul>

			<li ng-repeat="lista in listas">
				
				<p>
					{{ lista.descripcion }}
					<br>
					Fecha - {{ lista.fecha | date: 'short' }}
					<br>
					<button ng-click="eliminarLista(lista)">Eliminar lista</button>
				</p>

			</li>
			
		</ul>
		 -->


	</div>




</body>
</html>